{% extends 'recipes/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<h1>Случайные рецепты</h1>

<!-- Выводим список рецептов -->
<div class="recipes-list">
    {% for recipe in recipes %}
        <div class="recipe">
            <h2><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.title }}</a></h2>

            <!-- Проверяем, есть ли у рецепта изображение -->
            {% if recipe.image %}
                <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" style="max-width: 300px;">
            {% else %}
                <p>Изображение отсутствует</p>
            {% endif %}

            <p>{{ recipe.description|truncatewords:20 }}</p>

            <!-- Отображаем категории рецепта -->
            <p><strong>Категории:</strong> 
                {% for category in recipe.categories.all %}
                    <a href="{% url 'category_recipes' category.id %}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        </div>
        <hr>
    {% endfor %}
</div>


<h2>Категории</h2>
<ul>
    {% for category in categories %}
        <li><a href="{% url 'category_recipes' category.id %}">{{ category.name }}</a></li>
    {% endfor %}
</ul>

{% endblock %}
